<div class="row">
    <% if @books %>
        <% @books.each do |book|%>
             <div class="col-sm-5 offset-sm-3">
                <div class="col-3">
                    <%= image_tag book.image_url, class:"imgfluid", alt: '本の画像' %>
                </div>
                <p><%= book.title %></p>
            </div>
            
            <div class="col-sm-4 mb-4">
                <%= form_with(model: book, url:  books_new_path, local: true) do |f| %>
                    <%= hidden_field_tag :isbn, book.isbn %>
                    <%= hidden_field_tag :itemUrl, book.itemUrl %>
                    <%= f.submit "この本のレビューを書く", class:"btn btn-primary" %>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>

<br>
    
