<div class="row">
    <div class="col-sm-4 offset-sm-3 pl-5">
        <%= form_with(model: @book, local: true,  url:  books_create_path) do |f| %>
            <div class="mb-3">
                <%= f.label :title, 'タイトル' %>
            </div>
            <br>
            <br>
            <div class="mb-3">
                <%= f.label :author, '作者' %>
            </div>
            <br>
            <br>
            <div class="mb-3">
                <%= f.label :kind_id, 'ジャンル' %>
            </div>
            <br>
            <br>
            <div>
                <%= f.label :review, 'レビュー' %>
            </div>
    </div>
    
    <div class="col-sm-5">
            <div class="form-group">
                <%= f.text_field :title, class: 'form-controll' %>
            </div>
            <br>
            <br>
            <div class="form-group">
                <%= f.text_field :author, class: 'form-controll' %>
            </div>
            <br>
            <br>
            <div class="form-group">
                <%= f.select :kind_id, Kind.all.map{ |kind| [kind.name, kind.id] }, class: 'select' %>
            </div>
            <br>
            <br>
            <div class="form-group">
                <%= f.text_area :review, class: 'form-controll pr-4 pb-5', rows: 5 %>
            </div>
            <%= hidden_field_tag :isbn, @book.isbn %>
            <%= f.submit '投稿', class: 'btn btn-lg btn-warning' %>
        <% end %>
    </div>
</div>