<div class="row new">
    <div class="col-4 offset-3 pl-5">
        <%= form_with(model: @book1, local: true,  url:  books_create_path) do |f| %>
            <div class="mb-3">
                <%= f.label :title, 'タイトル' %>
            </div>
            <br>
    
            <div>
                <%= f.label :author, '作者' %>
            </div>
            <br>
            <br>
            <div class="mb-3">
                <%= f.label :kind_id, 'ジャンル' %>
            </div>
            <br>
            <br>
            <div>
                <%= f.label :review, 'レビュー' %>
            </div>
        </div>
            
        <div class="col-5">
            <div>
                <%= @book1.title %>
            </div>
            <br>
            <br>
            <div class="form-group">
                <%= @book1.author %>
            </div>
            <br>
            <br>
            <div class="form-group">
                <%= f.select :kind_id, Kind.all.map{ |kind| [kind.name, kind.id] }, class: 'select' %>
            </div>
            <br>
            <br>
            <div class="form-group">
                <%= f.text_area :review, class: 'form-control pr-4 pb-5', rows: 5 %>
            </div>
            
            <div>
                <%= hidden_field_tag :isbn, @book1.isbn %>
                <%= hidden_field_tag :itemUrl, @book1.itemUrl %>
                <%= f.submit '投稿', class: 'btn btn-lg btn-warning form-control' %>
            </div>
        <% end %>
    </div>
</div>