<% if logged_in? %>
    <div class="row">
        <div class="left col-4">
            <%= pie_chart @chart %>
            
            <table class="rank table-striped table-bordered">
                <% @all_ranks.each.with_index(1) do |book, i| %>
                    <tr>
                        <td class="w-tablehead">第<%= i %>位 </td><td> <%= book.title %></td>
                    </tr>
                <% end %>
            </table>
            
            <p>いいねランキング</p>
        </div>
        
        <div class="col-6 offset-6">
            <div class="card text-center">
                 <div class="card-header">
                     <h3>Home</h3>
                 </div>
            　<%= render 'layouts/books-post', books: @books %>
            </div>
        </div>
    </div>
    
<% else %>
    <div class="center jumbotron toppage">
          <h1>みんなで本を共有しよう！</h1> 
          <p>このサイトでは、あなたの好きな本を投稿し、また別のユーザーの投稿を閲覧することができます。</p>
          <p>みんなで思い出の一冊を投稿しよう。</p>
    </div>
        
    <div class="center">
        <%= link_to 'Sign up!', signup_path, class: 'btn btn-lg btn-warning'%>
    </div>
<% end %>

